#loginBody {
    font-family: futura pt,Tahoma, Geneva, Verdana, Arial,sans-serif;
}

/* This is for the black background of the Problem Solver's Logo in Login page and Sign Up page */
#backgroundPSLogo {
    background-color:black; 
    height: 100px; 
    width: 600px;
    margin-top: 5%;
    margin-left: 35%;
}

/* This is for the Problem Solver's logo in Login page and Sign Up page */
#loginPSLogo {
    margin-top: 3%;
    margin-left: 8.5%; 
}

/* The container box of Login and Sign Up form */
#loginBox {
    width: 600px;
    margin-left: 35%;   
    background: white;
}

/* Navigation Bar in the login and sign up page */
.loginNav {
    border-bottom: 2px solid #f1f1f1;
    border-right: 2px solid #f1f1f1;
    width: 290px;
    text-align: center;
}

/* To remove the right border on the last child the navigation bar */
.loginNavList li:last-child {
    border-right: none;
}

/* For the login button */
#loginButton {
    background: #2d2d2d;
    color: #fff;
    font-family: Tahoma,Arial,sans-serif;
    width: 320px;
}

/* When the user hovers on the  */
#loginButton:hover {
    background-color: #535151;
}

/* For the login form */
#loginForm {
    margin-top: 4%;
    margin-left: 20%;
    font-size: 30px;
    font-family: futura pt,Tahoma, Geneva, Verdana, Arial,sans-serif;
    height: 500px;
}

/* For the forgot password in the Login Page */
#loginForm a {
    text-decoration: none;
    color: black;
    position: absolute;
    margin-top: 1%;
    margin-left: 3.5%;
}

#loginForm a:hover {
    text-decoration: underline;
    color: rgb(138, 137, 137);
    
}

/* For the register form */
#registerForm{
    margin-top: 2%;
    margin-left: 20%;
    font-size: 20px;
    font-family: futura pt,Tahoma, Geneva, Verdana, Arial,sans-serif;
    height: 500px;
}

#registerForm input{
    width: 320px ;
}

/* For the login button */
#registerButton {
    background: #2d2d2d;
    color: #fff;
    font-family: Tahoma,Arial,sans-serif;
    width: 320px;
    margin-top: 3%;
}

/* When the user hovers on the  */
#registerButton:hover {
    background-color: #535151;
}

/* For the cart title */
#cartTitle {
    text-align: center; 
    font-family: futura pt,Tahoma, Geneva, Verdana, Arial,sans-serif;
    font-size: 50px;
    font-weight: bold;
}

/* For the cart table in the cart page */
#cartTable {
    height: 500px;
    overflow: scroll;
    overflow-x: hidden;
    width: 50%;
    margin-left: 25%;
}

/* The div for the total price and check out button */
#checkoutAndPriceBox{
    width: 50%;
    margin-left: 25%;
    height: 100px;  
}

#priceBox {
    width: 320px;
    height: 50px;
}

#priceBox p {
    font-size: 40px;
}

#checkoutButton {
    background: #2d2d2d;
    color: #fff;
    font-family: Tahoma,Arial,sans-serif;
    width: 300px;
    height: 50px;
}

/* To make it scrollable */
.items {
    height: 700px;
    overflow: scroll;
    overflow-x: hidden;
    max-width:1050px;
	margin:5% auto;
}

/* The box per items */
.items .itemBox {
    position: relative;
	max-width: 260px;
	margin: 15px auto;
	padding: 5px;
	text-align: center;
	border-radius: 4px;
	overflow: hidden;
	border:2px solid #eee;
    background-color: #535151;
    color: white;
}

/* Change the image of the items */
.items .itemBox img{
    width: 150px;
    height: 150px;
    margin-top: 5%;
}

/* Product name */
.items .itemBox a{
    text-decoration: none;
    color: white;
}

/* Quick Shop Button */
.items .itemBox .quickShop {
    background-color:  #535151;
    color: white;
}

.items .itemBox .quickShop:hover {
    background-color: #746e6e;
}

/* For the filter */
#filterBox {
position: absolute;
  background-color: #2d2d2d;
  width: 150px;
  height: 290px;
  color: white;
  margin-top: -40%;
  margin-left: 80%;
  text-align: center;
  font-size: 30px;
  border-radius: 3%;
}

#filterBox h1 {
    border-bottom: white solid 2px;
}

#filterBox a {
    text-decoration: none;
    color: white;
    border-bottom: white solid 2px;
}

#filterBox a:last-child {
    border-bottom: none;
}

#filterBox a:hover {
    color: rgb(17, 7, 7);
}

/* This is for the item box in item.php */
#itemContainerBox {
    position: relative;
    width: 80%;
    height: 700px;
    margin-left: 20%;
    margin-top: 8%; 
    background-color: white;
    color: black;
}

/* For item image in item.php */
#itemImage{
    width: 400px;
    height: 400px;
    margin-top: 15%;
    margin-left: 5%;
}

.productInfo{   
    text-align: center;
    margin-top: 8%;
    width: 20px;
}

.productInfo h2 {
    margin-top: 30px;
}

/* For add to cart button */
#addToCartButton {
    position: absolute;
    background-color: #2d2d2d;
    color: #fff;
    width: 300px;
    height: 50px;
    margin-left: 2%;
    margin-top: 20px;
}

#addToCartButton:hover {
    background-color: #535151;
}

#apikeyBox {
    width: 200px;
    height: 400px;
}